@* Used as partial view *@


    <div class="col-4 card">
        To watch movies

        <ul>
            <li>Get movie und display.</li>
            <li>Get movie und display.</li>
            <li>Get movie und display.</li>
            <li>Get movie und display.</li>
        </ul>
    </div>