@model  List<Movie>

@* Used as partial view *@


    <div class="col-4 card">
        To watch movies

        <ul>
            @foreach (Movie m in Model)
            {
                <li>@m.Title</li>
            }
        </ul>
    </div>